{# Get the three most recent featured posts from the collection #}
{% set recentFeatured = collections.featuredPosts.slice(0, 3) %}
{% set mostRecent = recentFeatured[0] %}
{% set secondRecent = recentFeatured[1] %}
{% set thirdRecent = recentFeatured[2] %}

<section class="articles-gallery">
  <div class="articles-gallery-grid">
    {# First row with 2/3 vs 1/3 split #}
    {% if mostRecent %}
    <a href="{{ mostRecent.url }}" class="articles-gallery-item articles-gallery-item-1" style="background-color: var(--color-terracotta);">
      <div class="articles-gallery-content">
        {% if mostRecent.data.icon %}
        <img src="{{ mostRecent.data.icon }}" alt="" class="articles-gallery-icon">
        {% endif %}
        <div class="articles-gallery-overlay">
          <div class="articles-gallery-meta">
            <span class="articles-gallery-tag">{{ mostRecent.data.tags | join(', ') }}</span>
            <h3 class="articles-gallery-title">{{ mostRecent.data.title }}</h3>
          </div>
        </div>
      </div>
    </a>
    {% endif %}
    
    <div class="articles-gallery-item articles-gallery-item-2" style="background-color: var(--color-white);">
      <div class="articles-gallery-content">
        <div class="articles-gallery-contact">
          <p>Photoshoot inquiries:<br>
          <a href="#" id="studio-email" class="protected-email">Loading...</a></p>
          
          <p>Other inquiries:<br>
          <a href="#" id="hello-email" class="protected-email">Loading...</a></p>
          
          <p>Share your vision:<br>
          <a href="/contact">Contact Me</a></p>
          
          <p class="follow-tivadar">Follow Tivadar<br>
          <span class="social-links">
            <a href="https://x.com/tivadarorosz" class="articles-social-link">
              <img src="https://cdn.tivadarorosz.com/icons/x-logo.svg" alt="X" width="16" height="16">
            </a>
            <a href="https://instagram.com/tivadarorosz" class="articles-social-link">
              <img src="https://cdn.tivadarorosz.com/icons/instagram-logo.svg" alt="Instagram" width="16" height="16">
            </a>
          </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  {# Second row with 50/50 split #}
  <div class="articles-second-row">
    {% if secondRecent %}
    <a href="{{ secondRecent.url }}" class="articles-gallery-item" style="background-color: var(--color-pale-sage);">
      <div class="articles-gallery-content">
        {% if secondRecent.data.icon %}
        <img src="{{ secondRecent.data.icon }}" alt="" class="articles-gallery-icon">
        {% endif %}
        <div class="articles-gallery-overlay">
          <div class="articles-gallery-meta">
            <span class="articles-gallery-tag">{{ secondRecent.data.tags | join(', ') }}</span>
            <h3 class="articles-gallery-title">{{ secondRecent.data.title }}</h3>
          </div>
        </div>
      </div>
    </a>
    {% endif %}
    
    {% if thirdRecent %}
    <a href="{{ thirdRecent.url }}" class="articles-gallery-item" style="background-color: var(--color-light-purple);">
      <div class="articles-gallery-content">
        {% if thirdRecent.data.icon %}
        <img src="{{ thirdRecent.data.icon }}" alt="" class="articles-gallery-icon">
        {% endif %}
        <div class="articles-gallery-overlay">
          <div class="articles-gallery-meta">
            <span class="articles-gallery-tag">{{ thirdRecent.data.tags | join(', ') }}</span>
            <h3 class="articles-gallery-title">{{ thirdRecent.data.title }}</h3>
          </div>
        </div>
      </div>
    </a>
    {% endif %}
  </div>
</section>