---
layout: base
title: Articles
pageBodyClass: standard-bg not-page-light-bg
---

<main class="articles-page page-width">
  <h1 class="articles-title">The Vault</h1>
  
  {% include "components/articles-featured.njk" %}
  
  <h2 class="articles-subtitle">Articles</h2>
  
  {% include "components/articles-grid.njk" %}
</main>

<script src="/js/email-protect.js"></script>