---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if not page.data.eleventyExcludeFromCollections and page.url and not page.url.includes('message/') %}
  <url>
    <loc>https://www.tivadarorosz.com{{ page.url }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    {%- if page.url == "/" %}
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    {%- elif page.url == "/portfolio/" or page.url == "/articles/" or page.url == "/contact/" %}
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
    {%- elif page.url.includes('/posts/') %}
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
    {%- else %}
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
</urlset>