---
pagination:
  data: portfolioStories
  size: 1
  alias: story
permalink: "{{ story.link }}/"
layout: story
eleventyComputed:
  title: "{{ story.title }}"
  cover: "{{ story.cover }}"
  summary: "{{ story.summary }}"
---